# Ignorar código gerado pelo Flutter nas estatísticas de linguagem
android/** linguist-vendored
ios/** linguist-vendored
linux/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored
web/** linguist-vendored
